.categories {
    background:#fff;
    @include clearfix();
}

.categories__category {
    width:33.3333%;
    font-size:14px;
    float:left;
    display:block;
    color:#777;
    font-weight:700;
    padding:$baseline 20px;
    line-height:$baseline*2;
    text-transform:uppercase;
    background-size:200%;
    background-position: 0 0;
    transition: 200ms color ease-out,
        400ms background-position;
    &:hover {
        background-position:50% 100%;
        color:#fff;
    }
}

@each $key, $value in $categories {
    .categories__category {
        &--#{$key} {
            &:hover {
                @include linear-gradient("to right", (nth($value,1), nth($value,1), nth($value,2), nth($value,2)));
            }
        }
    }
}